<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
</head>
<body>
  <h1>New Car Page</h1>
  <form action="/cars" method="POST">
    Make: <input type="text" name="make"><br/>
    Model: <input type="text" name="model"><br/>
    Color: <input type="text" name="color"><br/>
    Convertible: <input type="checkbox" name="isConvertible"><br/>
    <button type="submit">Create Car</button>
  </form>
</body>
</html>