<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><%= car.make %></h1>
  Color:  <%=car.color; %> <br/>                 
  <% if(car.isConvertible === true){ %>
  Your car is Convertible! Top Down!
  <% } else { %>
  Your car is not Convertible. Just roll down the windows, I guess.
  <% } %>
</body>
</html>